{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
  <h2>Использованные технологии</h2>

  <aside class="col-12 col-md-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Django ORM
      </li>
      <li class="list-group-item">
        CSS
      </li>
      <li class="list-group-item">
        HTML
      </li>
      <li class="list-group-item">
        VirtualEnvironment
      </li>
      <li class="list-group-item">
        Dev-server
      </li>
      <li class="list-group-item">
        VirtualMailBox
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-8">
    <p>
      <b> Концепция проекта Yatube </b> </br>
      Yatube - это социальная сеть для публикации личных дневников.
      На которой можно создать свою страницу. Если на нее зайти, то можно
      посмотреть все записи автора. Пользователи могут заходить на чужие
      страницы, подписываться на авторов и комментировать их записи.
    </p>
  </article>
</div>
{% endblock %}